:host {
  display: block;
  background: var(--color-neutral-800);
  color: var(--color-neutral-400);
  border-radius: calc(var(--spacing) * 1);
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 6)
    calc(var(--spacing) * 4) calc(var(--spacing) * 6);
  border: 1px solid var(--color-neutral-700);
}

input {
  margin: calc(var(--spacing) * 2) 0;
}
